/******** defaut styling ************/
:root {
    font-size: 1.5rem;
    --FirstColor: white;
    --secondColor: black;
    --buttonColor:#5312BE;
    --clear: rgba(0,0,0,.5);
    --redish:#FC7061;
}

body {
   background: var(--FirstColor);
   padding:0;
   box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*********** <!-- header  wth Navbar, Navlinks, and Nav-icon --> *********/
header {
  width: 99vw;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  background: var(--FirstColor);
  height: 120px;
  top:0;
}
.navBar {
  width: 95%;
  height:100%;
  margin:0 auto;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myphoto {
  position: relative;
  margin:0;
  padding: 0;
}
.logo-img {
  position: relative;
  margin:0;
  padding:0;
}
/* ======= navigation menu ======= */
.nav-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin:0;
  transition: 1s ease-in-out;
}
.menu {
   position: relative;
   padding: 0 .2rem;
   margin:0;
   box-sizing: border-box;
}
.nav-link {
  font-size: 1.2rem;
  color: var(--secondColor);
  display: inline-block;
  text-transform: capitalize;
  padding: .3rem .5rem;
  font-weight: 900;
  transition: all 300ms ease-in-out;
}
.nav-link:hover {
  box-shadow: 0 2px 4px , 0 2px 4px var(--clear);
  opacity: .7;
}

/* ====== main content ======= */
main {
  width:99vw;
  margin:0 auto;
  position: relative;
  padding:0;
}
#intro {
  width: 95%;
  height: 90vh;
  margin:0 auto;
  position: relative;
  padding: 0;
  border-radius: 1rem;
}
.prof-wrapper {
  position: relative;
  margin:0;
  padding:0;
  border-radius: 1rem;
  width:100%;
  height: 100%;
}
.img-wrapper {
  width:100%;
  height: 100%;
  position: relative;
  margin:0;
  padding:0;
  border-radius: 1rem;
}
.prof-img {
  width:100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  margin: 0;
  border-radius: 1rem;
  padding: 0;
}
.pro-detail {
  width:100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  margin: 0;
  padding: 1rem;
  z-index: 1;
  top:0;
  left:0;
  background: var(--clear);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.details-content {
  position: relative;
  text-align: right;
  margin:0;
  padding: 1rem;
  width: 60%;
}
.headers {
  width: 80%;
  padding: .4rem;
  position: relative;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mon {
  font-size: 1.5rem;
  color: var(--FirstColor);
  position: relative;
  margin: 0;
  padding:0;
  font-weight: 500;
  opacity: .8;
  text-align: center;
}
.prof-heading {
  font-size: 2rem;
  font-weight: 900;
  color:var(--FirstColor);
  padding: .3rem;
  margin:0;
  text-align: center;
}
.free {
  font-size: 1.2rem;
  color: var(--FirstColor);
  position: relative;
  margin: 0;
  padding:0;
  font-weight: 500;
  opacity: .8;
  text-align: center;
}
.prof-text-wrapper {
  width: 90%;
  text-align: left;
  padding: .4rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text,
.freelance {
  font-size: 1rem;
  color: var(--FirstColor);
  padding: .1rem;
  font-weight: 300;
  margin:0;
  opacity: .6;
  transition: 1s ease-in-out;
  text-align: center;
}
.freelance:hover {
  color: var(--buttonColor);
}
.text-small {
  font-size: .9rem;
  color: var(--FirstColor);
  padding: .2rem 2rem;
  font-weight: 300;
  margin:0;
  opacity: .4;
  text-align: center;
}
.my-button-container {
  width: 50%;
  margin: 0 auto;
  padding:.5rem;
  position: relative;
  text-align: center;
}
.detail-btn {
  padding: .5rem 1rem;
  margin:0;
  position: relative;
  background: var(--buttonColor);
  border-radius: 8px;
  border:none;
  outline: none;
  transition: 1s ease-in-out;
}
.detail-link {
  color: var(--FirstColor);
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
}
.detail-btn:hover {
  background: var(--clear);
}








/* ======= buttons ========== */
.menu-button {
  padding: 1rem .5rem;
  position: relative;
  margin:0;
  display: none;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.hamburger {
  position: relative;
  transition: background 300ms ease-in-out;
}
.hamburger:before {
  top:8px;
  position: absolute;
}
.hamburger:after {
  top:-8px;
  position: absolute;
}
.hamburger,
.hamburger:before,
.hamburger:after {
  width:35px;
  height:4px;
  content:'';
  display: block;
  background: var(--secondColor);
  border-radius: 6px;
  transition: 1s ease-in-out;
}
/* ===== back to the top ======*/


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--first); /* Set a background color */
  color: var(--buttonColor); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: medium; /* Increase font size */
  font-weight: 800; /* thickeness of the font */
  transition: all 250ms ease-in-out;
}

#myBtn:hover {
  background-color: var(--secondColor); /* Add a dark-grey background on hover */
}

/* ======= end buttons ========== */



/* ===== responsive design =======  */
.nav-Open .myphoto {
  z-index: 99;
}
.nav-Open .nav-menu {
  display: flex;
  position: absolute;
  width: 99vw;
  height: 80vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:120px;
  left: 0;
  background: var(--buttonColor);
}
.nav-Open .hamburger {
  background: transparent;
}
.nav-Open .hamburger:before {
  background: var(--redish);
  transform: rotate(45deg);
  top:0;
}
.nav-Open .hamburger:after {
  background: var(--redish);
  transform: rotate(-45deg);
  top:0;
}


@media (max-width:1000px){
  .navBar {
    width: 100%;
    padding: 5px;
  } .detail-link {
     font-size: 1rem;
   }
}
@media (max-width:800px){
  .nav-menu {
    display:none;
  }
  .menu-button {
    display: block;
  }
  #intro {
    width:99vw;
    margin: 0;
    padding:0;
  }
 .prof-text-wrapper {
   width: 99%;
 }
 .pro-detail {
   width:100%;
   padding: 0;
   margin:0;
 }
}
@media (max-width:600px) {
   .details-content {
     width: 100%;
     margin: 0;
     padding:0;
     text-align: center;
   }
   .my-button-container {
     width:100%;
     position: relative;
     text-align: center;
   }
   .pro-detail {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
}
@media (max-width:320px){
  :root {
    font-size: 1.2rem;
  }
}
@media (max-width:320px){
  :root {
    font-size: 1rem;
  }
}
@media (max-width:180px) {
  :root {
    font-size: .8rem;
  }
  header {
    height: max-content;
  }
  .navBar {
    flex-direction: column;
  }
}





/* ===== end responsive design =======  */
