/*********************** import Roboto font from google apis ***************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/************* default styling for everything****************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: none;
    scroll-behavior: smooth;
    background-color: black;
}

.header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 0;
    z-index: 99;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .2);
}


/************* logo or name_link *****************/

.name_link {
    color: greenyellow;
    font-size: 2.5em;
    font-weight: 900;
    position: absolute;
    left: 2em;
    transition: all .7s ease-in-out;
    padding: .3rem 0;
}

.name_link:hover {
    color: green;
    border-bottom: 2px solid green;
    transform: scaleX(1.1);
}


/************** menu_button ***************/

#menu_button {
    position: absolute;
    right: 2em;
    padding: 1rem .5rem;
    background-color: transparent;
    outline: none;
    border: none;
    display: none;
}

.menu_hamburger {
    position: relative;
}

.menu_hamburger,
.menu_hamburger::before,
.menu_hamburger::after {
    width: 35px;
    height: 4px;
    display: block;
    background: greenyellow;
    content: '';
}

.menu_hamburger::before {
    position: absolute;
    top: 10px;
}

.menu_hamburger::after {
    position: absolute;
    top: -10px;
}


/*************** menu_items *****************/

.menu_container {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3em;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_items {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu_item {
    margin: 0 .2em;
    padding: 0;
}

.item_links {
    color: greenyellow;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 0 .5em;
}

.item_links:hover {
    color: green;
    border-bottom: 2px solid green;
    transform: scaleX(1.1);
}

.item_links_btn {
    color: greenyellow;
    font-size: 1.4em;
    border: 1px solid greenyellow;
    background-color: green;
    padding: .2em .6em;
    border-radius: 1em;
}

.item_links_btn:hover {
    color: green;
    background-color: greenyellow;
    transform: scaleX(1.1);
}