/******** defaut styling ************/
:root {
    --primary: #000145;
    --primary-b: #5312BE;
    --secondary: #00A7E3;
    --mess: rgb(10,30,200);
    --danger : rgb(255,0,1);
    --success: rgb(1,255,0);
    --failed: rgb(0,69,1);
    --first : rgb(255,255,255);
    --faded:#C7ACD6;
    --clear-first: rgba(255,255,255,.3);
    --second : rgb(0,0,0);
    --clear-second : rgba(0,0,0,.3);
    --dark-clear: rgba(0,0,0,.6);
    --clear-clear:rgba(0,0,0,.1);
    --large: 2.5rem;
    --x-large: 4rem;
    --medium: 1.8rem;
    --small: 1.5rem;
    --small-text :16px;
    --text: 18px;
    --extra-small:14px;
}

body {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(30,30,30);
}
html {
    scroll-behavior: smooth;
}
/*********** <!-- header  wth Navbar, Navlinks, and Nav-icon --> *********/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  left: 0;
  right: 0;
  height: fit-content;
}
.top-navigation {
    width: 100%;
    margin: 0;
    position: relative;
    background: var(--primary-b);
}
.navig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 1rem;
  position: relative;
}
.top-headding {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: var(--large);
    margin: .2rem 0;
    padding:0;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.full-name {
   font-family: inherit;
   color: var(--first);
   text-decoration: none;
   position: relative;
}
.full-name:hover {
    color:var(--faded);
}
.top-wrapper {
    width: 100%;
    height: max-content;
    padding:0 0 .5rem 0;
    margin:0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-link {
    text-decoration: none;
    font-weight: 700;
    font-family:italic;
    position: relative;
    margin: 0 0 0 .5rem;
    text-transform: capitalize;
}
.contact-link .green {
    color: var(--success);
    font-size: var(--medium);
    padding: 0;
}
.contact-link .num {
    color: var(--faded);
    margin: 0;
    padding: .3rem 0 ;
    font-size: var(--small);
}
.contact-link .num:hover {
    color:var(--first);
}
.contact-link .letter {
    color: var(--mess);
    font-size: var(--small);
    padding: 0;
}

/* ===== social network links ===== */

.top-social {
    border: 1px solid var(--clear-second);
    padding:.3rem .5rem;
    position: relative;
    margin: .2rem 0;
    border-radius: 5px;
}
.social-container {
    padding: .2rem;
    margin:0;
    position: relative;
}
.social-link {
    font-size: var(--small);
    color: var(--first);
    text-decoration:none;
    padding:0;
    cursor: pointer;
    transition: color 1s ease-in-out;
}
.social-link:hover {
    color:var(--primary);
}

/* ===== button for responsivity of navigation =====*/

#search-button {
    width: 90%;
    background: var(--clear-second);
    padding: .5rem 1rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    border:none;
    outline: none;
    border-radius: .3rem;
    height: max-content;
}
.input-style {
    color: var(--first);
    font-weight: 900;
    font-size: var(--medium);
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
/* ==== hamburger is a combination of the three line icons ===== */
.hamburger {
   position: relative;
   transition: background 1s ease-in-out;
}
.hamburger:before {
    top: 8px;
    transition: all 1s ease-in-out;
    position: absolute;
}
.hamburger:after {
    top:-8px;
    transition: all 1s ease-in-out;
    position: absolute;
}
.hamburger,
.hamburger:before,
.hamburger:after {
    display: block;
    content: '';
    width: 30px;
    background-color: var(--first);
    height: 3.5px;
}

/* ===== navigation menu list of items ===== */

.bottom-navigation {
    width: 90%;
    height: max-content;
    padding:.5rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-menu {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: .5rem ;
    position: relative;
    list-style: none;
    border-bottom: 2px solid var(--primary-b);
}
.menu {
    padding: .2rem;
    position: relative;
    margin:0;
}
.nav-link {
    color: var(--primary-b);
    text-decoration: none;
    font-size: var(--small);
    font-weight: 900;
    text-transform: capitalize;
    margin: 0 .2rem;
    padding: .5rem;
    transition: color 1s ease-in-out;
}
.nav-link:hover {
    color:var(--faded);
}

/* ======= main content ======= */

main {
    width: 100vw;
    position: relative;
    margin:0;
    padding: 0;
}






/* ======= footer ======= */
#footer {
  width: 100vw;
  position: relative;
  margin:0;
  padding:0 0 1rem 0;
  background: var(--primary-b);
}
.foo-container-fluid {
  width: 100%;
  position: relative;
  min-height:100vh ;
  padding: 1rem 0;
  margin: 0 auto;
  background: var(--primary-clear);
}
.foo-heading-container {
  width: 60%;
  position: relative;
  margin: 0 auto;
  padding: .5rem;
}
.foo-heading {
  font-size: var(--medium);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary-b);
  text-align: center;
}
/* ======= footer contact section ========== */
.foo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  margin:0 auto;
  width:90%;
  height: max-content;
  background: var(--clear-clear);
  border-radius: 1rem;
}
.footer-contact {
  width: 100%;
  position: relative;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:1rem 0 2rem 0;
  margin:0;
  background: var(--primary-clear);
}
.foo-text {
  margin: 0;
  position: relative;
  width: 90%;
  font-size: var(--small);
  color: var(--faded);
  padding: .5rem 1rem;
  text-align: center;
}
.foo-form {
  wifth: 90%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-clear);
  box-shadow: 0 0 0 5px  var(--primary-clear);
  border-radius: 1rem;
}
.formElement {
  width: 100%;
  min-height: 35px;
  padding: 1rem 0
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-clear);
  border-radius: .4rem;
}
.elem {
  margin: 10px;
}
.label {
  position: relative;
  background: transparent;
  width:30%;
  padding: 0 1rem;
  color: var(--first);
  border-radius: .4rem 0 0 .4rem;
  font-size: var(--text-small);
}
.input::placeholder {
  color: var(--primary-b);
}

.input {
  width: 65%;
  height: 100%;
  padding: 0 .8rem;
  background: transparent;
  border-radius: 0 .4rem .4rem 0;
  color: var(--first);
  background: var(--dark-clear);
  border: none;
  outline: none;
  font-size: var(--text-small);
  position: relative;
  transition: all 250ms ease-in-out;
}

#message  {
  width: 100%;
  height: 90%;
  padding: .4rem .8rem;
  background: transparent;
  border-radius: 0 .4rem .4rem 0;
  color: var(--first);
  border: none;
  text-align: right;
  outline: none;
  font-size: var(--text-small);
  position: relative;
  transition: height 250ms ease-in-out;
}
#message::placeholder {
  color: var(--primary-b);
}
#message:focus {
  height: 40vh;
}
#message-label {
  top:1rem;
  background: transparent;
  width:30%;
  padding: 0 1rem;
  color: var(--first);
  border-radius: .4rem 0 0 .4rem;
  font-size: var(--text-small);
}
.form-button {
  width: 50%;
  padding: 1rem 0 0 0;
  margin:0 auto;
  text-align: center;
}
.footer-form-btn {
  background: var(--first);
  color: var(--primary-b);
  font-size: var(--medium);
  font-weight: 600;
  border: none;
  outline:none;
  border-radius: .4rem;
  transition: background 250ms ease-in-out;
}
.footer-form-btn:hover {
  background: var(--faded);
}
.social-footer {
  width: 80%;
  margin:0 auto;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fool {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:.5rem;
}
.email-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0
}
.direct {
  width:100%;
  height: max-content;
  position: relative;
  display: flext;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.dirfool {
  list-style: none;
  margin: 0;
  padding:1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dirli {
  margin: .3rem 0;
  position: relative;
  padding: 0;
}
.dirli i {
  color:var(--faded);
  font-size: var(--medium);
  padding: .3rem;
  margin:0;
  position: relative;
}
.dirlink {
  color: var(--failed);
  position: relative;
  font-size: var(--text-small);
  text-decoration: none;
  font-weight: 600;
  margin: 0;
}



/* ====== copyright section ======= */
.copyright {
  width: 100%;
  position: relative;
  min-height:max-content ;
  padding: 1rem 0 0 0;
  margin: .5rem auto;
  text-align: center;
  background: var(--primary-b);
}
.copyright-text {
  width:95%;
  margin:0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.theprince {
  text-decoration: none;
}
.theprince:hover {
  color: var(--primary-b);
}
.divider {
  width: 30%;
  height: 3px;
  border: .5rem;
  margin: 1rem auto 0 auto;
  background: var(--faded);
  opacity: .5;
}

.copy-image {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
}
.copy {
  position: relative;
  margin:0;
  padding:0;
}





/* ===== back to the top ======*/




#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--first); /* Set a background color */
  color: var(--primary-b); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: var(--medium); /* Increase font size */
  font-weight: 800; /* thickeness of the font */
  transition: all 250ms ease-in-out;
}

#myBtn:hover {
  background-color: var(--faded); /* Add a dark-grey background on hover */
}
